
  <h3 class="m-3"><span class="heading">About</span></h3>
  <p>
    とあるお米屋さんは創業約100年の老舗のお米屋さんです。<br>
    家族経営の小さなお店ですが、美味しいお米が評判のお店です。<br>
  </p>

  <h4 class="mt-5">店舗情報</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
          <tr>
            <th>店舗名</th>
            <td>とあるお米屋さん</td>
          </tr>
          <tr>
            <th>住所</th>
            <td>神奈川県〇〇市***町111-1111</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>〇〇〇〇ー〇〇ー〇〇〇〇</td>
          </tr>
      </table>
    </div>




