<div class="container">
  <h3 class="m-4"><span class="heading">Top</span></h3>
  <div class="row">
    <p>
      このサイトはとあるお米屋さんのホームページ兼ECサイトとなっております。<br>
      みなさまからのご愛顧により創業以来、約100年もの間営業できています。<br>
      これからもおいしいお米を提供できるよう努めてまいりますので、何卒よろしくお願いいたします。
    </p>
  </div>
</div>
