<h4>会員情報</h4>

<table class="table table-striped">
  <tr>
    <th>名前</th>
    <th>登録日時</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.created_at %></td>
      <% if customer.is_deleted == "false" %>
        <td><%= link_to "退会させる", withdraw_admin_customers_path(customer.id), method: :patch, class: "btn btn-danger" %></td>
      <% else %>
        <td><%= link_to "戻す", withdraw_admin_customers_path(customer.id), method: :patch, class: "btn btn-success" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

