<div class="container-fluid">
  <div class="row">
    <h3 class="m-4"><span class="admin_heading">会員検索 "<%= @keyword %>"</span></h3>
    <div class="ml-sm-auto mb-sm-0"><%= render partial: 'layouts/search', locals: {search_items_path: search_admin_customers_path, search_genre: "会員検索" } %></div>
  </div>
  
  <% if @customers.blank? %>
    <p class="text-center">該当する会員がいません</p>
  <% else %>
    <%= render partial: "customer_index",locals: {customers: @customers} %>
  <% end %>
</div>