<div class="container-fluid">
  <h3 class="m-4"><span class="admin_heading">注文履歴</span></h3>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>日付</th>
          <th>請求額</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= order.total_price %>円</td>
          <td><%= link_to "詳細", admin_order_path(order.id) %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
  <div class="row">
    <div class="mx-auto"><%= paginate @orders, theme: 'twitter-bootstrap-4'%></div>
  </div>
</div>
