/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ヘッダー写真
.jumbotron{
  background-image: image-url("header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// ヘッダー「とあるお米屋さん」の縁取りデザイン
.outline{
  color: #fff;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000 ;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 130px;
  border-sizing: border-box;
}

footer{
  width: 100%;
  background-color: #ddd;
  color: #fff;
  text-align: center;
  padding: 30px 0;

position: absolute;
  bottom: 0;

}

.heading{
  background-color: #efe;
}

.admin_heading{
  background: #FFDBC9;
}

.table-responsive th,td{
  white-space: nowrap;
}

// kaminariのページ
.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}
