<h4>商品一覧</h4>

<% @items.each do |item| %>
 <div>
   <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %>
   <%= link_to item.name, item_path(item.id) %>
   <%= item.price %>
 </div>
<% end %>
