<h4>お知らせ</h4>
 <table class="table">
    <% @informations.each do |i| %>
      <tr>
        <th><%= i.title %></th>
        <td><%= i.content.truncate(15) %></td>
        <td><%= i.created_at %></td>
        <td><%= link_to "詳細", information_path(i.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </table>
