<div class="container-fluid">
  <h3 class="m-3"><span class="heading">お知らせ詳細</span></h3>
  <div class="row mb-3">
    <div class="col-md-3">タイトル:</div>
    <div class="col-md-9">
      <%= @information.title %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">追加日時:</div>
    <div class="col-md-9"><%= @information.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
  </div>
  <div class="row mb-5">
    <div class="col-md-3">お知らせ内容:</div>
    <div class="col-md-9"><%= @information.content %></div>
  </div>

  <!--ボタン-->
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= link_to "お知らせ一覧に戻る", informations_path, class: "btn btn-primary w-100" %>
    </div>
  </div>

</div>
